body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20%;
}

h1{
    font-size: 24px;
    color: gray;
}

#linkElementId{
    background-color: #237e69;
    color: white;
    border-radius: 8px;
    padding: 8px;
    border: 0px;
    text-decoration: none;
}